.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #050506;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-body {
  background-color: #8396bc;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}


.App-footer {
  background-color: #5050ea;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(229, 81, 81);
}

.App-sidenav {
  background-color: #6666e8;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
